.info{
  display: flex;
  align-content: center;
  height: max-content;
  width: 100%;
  padding: 0 20px;
  max-width: 1000px;

  &__wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
  }

  &__card{
    width: 100%;
    &--face{
      border-top: 4px var(--Facebook) solid;
    }
    &--insta{
      border-top: 4px var(--Instagram) solid;
    }
    &--twitter{
      border-top: 4px var(--Twitter) solid;
    }
    &--youtube{
      border-top: 4px var(--YouTube ) solid;
    }
    &--main{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      background-color: var(--Light-Grayish-Blue);
      border-radius: 5px;
    }
  }
  &__social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    margin: 25px 0;
    & img{
      margin-right: 10px;
    }  
  }
  &__arroba{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
  }
  &__data{
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 25px;
  }
  &__number{
    color: var(--Very-Dark-Blue);
    font-size: 45px;
    font-weight: 700;
  }
  &__followers{
    color: var(--Dark-Grayish-Blue);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
  }
  &__diference{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
      width: 12px;
      margin-right: 5px;
    }
    &--up{
      color: var(--Lime-Green);
    }
  }
}