@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.hoverable:hover {
  -webkit-transition: .3s all;
  transition: .3s all;
  background-color: var(--hover);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

:root {
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --YouTube: hsl(348, 97%, 39%);
  --Toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --Toggle-light: hsl(230, 22%, 74%);
  --Very-Dark-Blue: hsl(230, 17%, 14%);
  --Very-Dark-Blue-header: hsl(232, 19%, 15%);
  --Dark-Desaturated-Blue: hsl(228, 28%, 20%);
  --Desaturated-Blue: hsl(228, 34%, 66%);
  --White: hsl(0, 0%, 100%);
  --Very-Pale-Blue: hsl(225, 100%, 98%);
  --Light-Grayish-Blue: hsl(227, 47%, 96%);
  --Dark-Grayish-Blue: hsl(228, 12%, 44%);
  --Very-Dark-Blue: hsl(230, 17%, 14%);
  --hover-white: hsl(227, 21%, 92%);
  --hover-dark: hsl(230, 23%, 26%);
  --background: var(--White);
  --card-bg: var(--Light-Grayish-Blue);
  --top-bg:var(--Very-Pale-Blue);
  --text-samll:var(--Dark-Grayish-Blue);
  --text-big: var(--Very-Dark-Blue);
  --hover: var(--hover-white);
}

html[data-theme="dark"] {
  --background: var(--Very-Dark-Blue);
  --card-bg: var(--Dark-Desaturated-Blue);
  --top-bg:var(--Very-Dark-Blue-header);
  --text-samall: var(--Very-Dark-Blue);
  --text-big: var(--White);
  --hover:var(--hover-dark);
}

.cima__button {
  margin-left: 0.9375rem;
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.125rem;
  cursor: pointer;
}

.cima__button input {
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.cima__button input:checked + .cima__slider {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-image: var(--Toggle);
}

.cima__button input:focus + .cima__slider {
  -webkit-box-shadow: 0 0 0.0625rem #2196F3;
          box-shadow: 0 0 0.0625rem #2196F3;
}

.cima__button input:checked + .cima__slider:before {
  -webkit-transform: translateX(1.625rem);
  transform: translateX(1.625rem);
}

.cima__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Toggle-light);
  -webkit-transition: .4s;
  transition: .4s;
}

.cima__slider::before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.cima__slider__round {
  border-radius: 2.125rem;
}

.cima__slider__round:before {
  border-radius: 50%;
}

.cima {
  background-color: var(--top-bg);
  padding: 1.25rem 0rem 6.25rem 0rem;
  border-bottom-left-radius: 0.9375rem;
  border-bottom-right-radius: 0.9375rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cima__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(12.5rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  width: 100%;
  max-width: 62.5rem;
  padding: 0rem 1.25rem;
}

.cima__wrapper__block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cima__wrapper__block--one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.0625rem var(--text-samll) solid;
  margin-bottom: 1.25rem;
}

@media (min-width: 440px) {
  .cima__wrapper__block--one {
    margin: 0;
    border: none;
  }
}

.cima__wrapper__block--two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 440px) {
  .cima__wrapper__block--two {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.cima__title {
  font-family: 'Inter', sans-serif;
  color: var(--text-big);
  font-weight: 700;
  font-size: 1.5625rem;
  margin-bottom: 0.3125rem;
}

.cima__total {
  font-family: 'Inter', sans-serif;
  color: var(--text-samll);
  font-weight: 700;
  margin-bottom: 1.5625rem;
  font-size: 0.875rem;
}

.cima__darkmode {
  font-family: 'Inter', sans-serif;
  color: var(--text-samll);
  font-weight: 700;
  font-size: 0.875rem;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.25rem;
  width: 100%;
  padding: 0 1.25rem;
  max-width: 62.5rem;
  -webkit-transform: translateY(-4%);
          transform: translateY(-4%);
}

@media (min-width: 600px) {
  .info {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@media (min-width: 1000px) {
  .info {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
}

.info__wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(13.75rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(13.75rem, 1fr));
  gap: 0.9375rem;
  margin-bottom: 1.875rem;
}

@media (min-width: 600px) {
  .info__wrapper {
    gap: 1.5625rem;
  }
}

.info__title {
  color: var(--text-samll);
  width: 100%;
  font-size: 1.875rem;
  margin-bottom: 1.875rem;
}

.info__card {
  background-color: var(--card-bg);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.3125rem;
  overflow: hidden;
  position: relative;
  padding: 0 1.25rem;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.info__card--face {
  position: relative;
}

.info__card--face::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  top: 0;
  left: 0;
  background-color: var(--Facebook);
}

.info__card--insta::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  top: 0;
  left: 0;
  background-image: var(--Instagram);
}

.info__card--twitter::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  top: 0;
  left: 0;
  background-color: var(--Twitter);
}

.info__card--youtube::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  top: 0;
  left: 0;
  background-color: var(--YouTube);
}

.info__card--menor {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25rem 1.25rem;
}

.info__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1.5625rem 0;
}

.info__social img {
  width: 1.5625rem;
  margin-right: 0.625rem;
  pointer-events: none;
}

.info__social--menor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.9375rem;
  pointer-events: none;
}

.info__arroba {
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--text-samll);
}

.info__arroba--menor {
  font-size: 0.75rem;
  color: var(--text-samll);
}

.info__data {
  text-align: center;
  margin-bottom: 1.5625rem;
}

.info__data--menor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.info__number {
  color: var(--text-big);
  font-size: 2.8125rem;
  font-weight: 700;
}

.info__number--menor {
  color: var(--text-big);
  font-size: 2.1875rem;
}

.info__followers {
  color: var(--text-samll);
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8125rem;
}

.info__diference {
  font-weight: 700;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5625rem;
}

.info__diference img {
  width: 0.75rem;
  margin-right: 0.3125rem;
  pointer-events: none;
}

.info__diference--menor {
  margin: 0;
}

.info__diference--up {
  color: var(--Lime-Green);
}

.info__diference--down {
  color: var(--Bright-Red);
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Inter', sans-serif;
}
/*# sourceMappingURL=main.css.map */