@import "./modifiers/mixin";
@import "./modifiers/on-hover-cards";
@import "./abstracts/color";
@import "./modules/button";
@import "./modules/header";
@import "./modules/cards-main";

*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  
  min-height: 100vh;
  width: 100%;
  background-color: var(--background);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
//font-family: 'Inter', sans-serif;